<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head class="has-navbar-fixed-top">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/combine/npm/bulma@0.8.0/css/bulma.min.css,npm/bulma-extensions@6.2.7/bulma-steps/dist/css/bulma-steps.min.css"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'css/error.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'css/mystyles.css')}}"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-57x57.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-60x60.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicon/apple-icon-72x72.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-76x76.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-114x114.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-120x120.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-144x144.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-152x152.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-180x180.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-192x192.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename = 'logos/favicons/favicon-32x32.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{{ url_for('static', filename = 'logos/favicons/favicon-96x96.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename = 'logos/favicons/favicon-16x16.png')}}"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <title>{{ title }}</title>
  </head>

  <body id="page-top">
    <!-- Navigation -->

    <nav
      class="navbar is-transparent is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item js-scroll-trigger" href="#page-top">
          <h3>Know Your Park</h3>
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="mainNav" class="navbar-menu">
        <div class="navbar-start"></div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light js-scroll-trigger" href="#about">
                <strong>About</strong>
              </a>
              <a class="button is-light js-scroll-trigger" href="#what">
                <strong>What We Do</strong>
              </a>
              <a class="button is-primary js-scroll-trigger" href="#started">
                <strong>Get Started</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Slide 1 -->
    <section
      class="hero is-fullheight"
      style="background-color: #d85a3b;"
      id="about"
    >
      <div class="columns is-gapless">
        <div class="column">
          <img
            src="{{ url_for('static', filename = 'logos/cover.png')}}"
            class="img-fluid"
            alt="Responsive image"
          />
        </div>
      </div>
    </section>

    <!-- Slide 2 -->
    <section class="hero is-info is-fullheight-with-navbar" id="what">
      <div class="hero-body">
        <div class="container">
          <h1 class="Slide 2">
            What We Do
          </h1>
          <h2 class="subtitle">
            We provide tests that help you predict if you have Parkinson's. The
            following are available for you to try it out.
            <ul style="list-style-type:circle;">
              <li>Reaction Test</li>
              <li>Circle Test</li>
              <li>Questionnaire</li>
            </ul>
            A result will be provided at the end of the tests.
          </h2>
        </div>
      </div>
    </section>

    <!-- Slide 3 -->
    <section class="hero is-success is-fullheight-with-navbar" id="started">
      <div class="hero-body">
        <div class="container">
          <h1 class="Slide 2">
            To get started,
          </h1>
          <h2 class="subtitle">
            Select your age group
          </h2>
          <form method="POST">
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect"
                  >Preference</label
                >
                <select
                  class="custom-select mr-sm-2"
                  id="inlineFormCustomSelect"
                  name="ageGroup"
                >
                  <option selected>Choose...</option>
                  <option value="under30">Under 30</option>
                  <option value="under40">30-40</option>
                  <option value="under50">40-50</option>
                </select>
              </div>
              <div class="col-auto my-1">
                <button type="submit" value="submit" class="btn btn-dark">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <div class="container">
          <div class="columns">
            <!-- Footer Social Icons -->
            <div class="column">
              <h4 class="text-uppercase mb-4">Check out the code!</h4>
              <a class="btn btn-outline-light btn-social mx-1" href="#">
                <i class="fab fa-github"></i>
              </a>
            </div>

            <!-- Footer About Text -->
            <div class="column">
              <h4 class="text-uppercase mb-4">About Know Your Park</h4>
              <p class="lead mb-0">
                KYP is a free, MIT licensed web application created at
                <a href="https://ufl.edu">UF </a> by students.
              </p>
            </div>
          </div>
        </div>

        <!-- Copyright Section -->
        <div class="container is-info">
          <div class="columns">
            <div class="column">
              <a href="https://bulma.io">
                <img
                  src="https://bulma.io/images/made-with-bulma--dark.png"
                  alt="Made with Bulma"
                  width="128"
                  height="24"
                />
              </a>
            </div>
            <div class="column">
              <small
                >Made with &nbsp;<i class="fas fa-heartbeat"></i>&nbsp; by
                <a href="https://github.com/orgs/Know-your-Parkinson-s/people"
                  >Team 3</a
                >
              </small>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"
      >
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Scripts -->

    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/b5c8bf5f8c.js"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='javascript/freelancer.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery.easing.js')}}"></script>
  </body>
</html>
