<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Bulma CSS -->
	<link href="{{ url_for('static', filename='css/bulma.css')}}" rel="stylesheet">

	<!-- Theme CSS -->
	<link href="{{ url_for('static', filename='css/freelancer.css')}}" rel="stylesheet">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/error.css')}}">

	<!-- Custom fonts for this theme -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
		type="text/css">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57"
		href="{{ url_for('static', filename = 'logos/favicons/apple-icon-57x57.png')}}">
	<link rel="apple-touch-icon" sizes="60x60"
		href="{{ url_for('static', filename = 'logos/favicons/apple-icon-60x60.png')}}">
	<link rel="apple-touch-icon" sizes="60x60"
		href="{{ url_for('static', filename = 'logos/favicon/apple-icon-72x72.png')}}">
	<link rel="apple-touch-icon" sizes="60x60"
		href="{{ url_for('static', filename = 'logos/favicons/apple-icon-76x76.png')}}">
	<link rel="apple-touch-icon" sizes="60x60"
		href="{{ url_for('static', filename = 'logos/favicons/apple-icon-114x114.png')}}">
	<link rel="apple-touch-icon" sizes="60x60"
		href="{{ url_for('static', filename = 'logos/favicons/apple-icon-120x120.png')}}">
	<link rel="apple-touch-icon" sizes="60x60"
		href="{{ url_for('static', filename = 'logos/favicons/apple-icon-144x144.png')}}">
	<link rel="apple-touch-icon" sizes="60x60"
		href="{{ url_for('static', filename = 'logos/favicons/apple-icon-152x152.png')}}">
	<link rel="apple-touch-icon" sizes="60x60"
		href="{{ url_for('static', filename = 'logos/favicons/apple-icon-180x180.png')}}">
	<link rel="apple-touch-icon" sizes="60x60"
		href="{{ url_for('static', filename = 'logos/favicons/apple-icon-192x192.png')}}">
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ url_for('static', filename = 'logos/favicons/favicon-32x32.png')}}">
	<link rel="icon" type="image/png" sizes="96x96"
		href="{{ url_for('static', filename = 'logos/favicons/favicon-96x96.png')}}">
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ url_for('static', filename = 'logos/favicons/favicon-16x16.png')}}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title>{{ title }}</title>

</head>

<body>
	<!-- <div class="container-fluid"> -->
	<!-- Navigation -->
	<!-- <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" href="#page-top">Know Your Parkinson's</a>
				<button
					class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
					type="button" data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					Menu
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
								href="#portfolio">Portfolio</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav> 
	</div> -->

	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://bulma.io">
				<img src="{{ url_for('static', filename='logos/vector/isolated-monochrome-black.svg')}}" width="64">
			</a>

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
				data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item">
					Home
				</a>

				<a class="navbar-item">
					Documentation
				</a>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						More
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item">
							About
						</a>
						<a class="navbar-item">
							Jobs
						</a>
						<a class="navbar-item">
							Contact
						</a>
						<hr class="navbar-divider">
						<a class="navbar-item">
							Report an issue
						</a>
					</div>
				</div>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-primary">
							<strong>Sign up</strong>
						</a>
						<a class="button is-light">
							Log in
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="container-fluild">
		<img src="{{ url_for('static', filename = 'logos/cover.png')}}" class="img-fluid" alt="Responsive image">
	</div>

	<!-- Slide 2 -->
	<section class="hero is-info is-large">
		<div class="hero-body">
			<div class="container">
				<h1 class="Slide 2">
					Large title
				</h1>
				<h2 class="subtitle">
					Large subtitle
				</h2>
			</div>
		</div>
	</section>

	<!-- Custom scripts for this template -->
	<script src="{{ url_for('static', filename='javascript/freelancer.js')}}"></script>

	<!-- Plugin JavaScript -->
	<script src="{{ url_for('static', filename='vendor/jquery.easing.js')}}"></script>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>