<!DOCTYPE html>
<html lang="en">
  <head class="has-navbar-fixed-top">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Theme CSS -->
    <link
      href="{{ url_for('static', filename='css/mystyles.css')}}"
      rel="stylesheet"
    />

    <!-- Custom fonts for this theme -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-57x57.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-60x60.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicon/apple-icon-72x72.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-76x76.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-114x114.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-120x120.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-144x144.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-152x152.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-180x180.png')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename = 'logos/favicons/apple-icon-192x192.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename = 'logos/favicons/favicon-32x32.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{{ url_for('static', filename = 'logos/favicons/favicon-96x96.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename = 'logos/favicons/favicon-16x16.png')}}"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <title>{{ title }}</title>
  </head>

  <body id="page-top">
    <!-- Navigation -->

    <div class="container-fluid">
      <nav
        class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
        id="mainNav"
      >
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top"
            >Know Your Park</a
          >
          <button
            class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a
                  class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                  href="#about"
                  >About</a
                >
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a
                  class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                  href="#what"
                  >What we do</a
                >
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a
                  class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                  href="#started"
                  >Get Started</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- Slide 1 -->
    <section class="masthead" style="background-color: #d85a3b;" id="about">
      <div class="columns is-gapless">
        <div class="column">
          <img
            src="{{ url_for('static', filename = 'logos/cover.png')}}"
            class="img-fluid"
            alt="Responsive image"
          />
        </div>
      </div>
    </section>

    <!-- Slide 2 -->
    <section
      class="page-section portfolio text-white bg-primary masthead"
      id="what"
    >
      <div class="container">
        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase mb-0">
          What We Do
        </h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>
        <div class="container">
          <h3 class="subtitle">
            We provide tests that help you check if you have the telltale
            symptoms of Parkinson's. The following are available for you to try!
          </h3>
          <br />
          <h5>
            <li>Reaction Test</li>
            <li>Circle Test</li>
            <li>Questionnaire</li>
          </h5>
        </div>
      </div>
    </section>

    <!-- Slide 3 -->
    <section
      class="page-section bg-secondary text-white mb-0 masthead"
      id="started"
    >
      <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">
          Get Started
        </h2>

        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>

        <h2 class="subtitle text-center">
          Select your age group
        </h2>
        <br />
        <div class="container">
          <form method="POST">
            <div class="form-row">
              <div class="col-auto my-1">
                <select class="custom-select" name="ageGroup">
                  <option disabled selected>Choose...</option>
                  <option value="under30">Under 30</option>
                  <option value="under40">30-40</option>
                  <option value="under50">40-50</option>
                </select>
              </div>
              <div class="col-auto my-1 mx-4">
                <button type="submit" value="submit" class="btn btn-dark">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <!-- Footer Social Icons -->
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Check out the code!</h4>
            <a
              class="btn btn-outline-light btn-social mx-1"
              href="https://github.com/Know-your-Parkinson-s/knowyourparkinson"
            >
              <i class="fab fa-github"></i>
            </a>
          </div>

          <!-- Footer About Text -->
          <div class="col-lg-6">
            <h4 class="text-uppercase mb-4">About Know Your Park</h4>
            <p class="lead mb-0">
              KYP is a free, MIT licensed web application created at
              <a href="https://ufl.edu">UF </a> by students.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="https://bulma.io">
              <img
                src="https://bulma.io/images/made-with-bulma--dark.png"
                alt="Made with Bulma"
                width="128"
                height="24"
              />
            </a>
          </div>
          <div class="col-lg-6">
            <small
              >Made with &nbsp;<i class="fas fa-heartbeat"></i>&nbsp; by
              <a href="https://github.com/orgs/Know-your-Parkinson-s/people"
                >Team 3</a
              >
            </small>
          </div>
        </div>
      </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"
      >
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Scripts -->

    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/b5c8bf5f8c.js"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='javascript/freelancer.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery.easing.js')}}"></script>
  </body>
</html>
