<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
    <head class="has-navbar-fixed-top">
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />

      <!-- Bulma CSS -->
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/combine/npm/bulma@0.8.0/css/bulma.min.css,npm/bulma-extensions@6.2.7/bulma-steps/dist/css/bulma-steps.min.css"
      />
      <!-- Theme CSS -->
      <link
        href="{{ url_for('static', filename='css/freelancer.css')}}"
        rel="stylesheet"
      />

      <!-- Custom CSS -->
      <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename = 'css/error.css')}}"
      />

      <!-- Custom fonts for this theme -->
      <link
        href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
        rel="stylesheet"
        type="text/css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
        rel="stylesheet"
        type="text/css"
      />

      <!-- Favicons -->
      <link
        rel="apple-touch-icon"
        sizes="57x57"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-57x57.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-60x60.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicon/apple-icon-72x72.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-76x76.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-114x114.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-120x120.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-144x144.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-152x152.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-180x180.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-192x192.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-32x32.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="96x96"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-96x96.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-16x16.png')}}"
      />
      <meta name="msapplication-TileColor" content="#ffffff" />
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
      <meta name="theme-color" content="#ffffff" />

      <title>{{ title }}</title>
    </head>

    <body class="has-navbar-fixed-top">
      <nav
        class="navbar is-dark is-fixed-top"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="container">
          <div class="steps is-small">
            {% if tNo == '1' %}
            <div class="step-item is-active is-success">
              <div class="step-marker"></div>
              <div class="step-details">
                <p class="step-title">Step 1</p>
                <p>This is the first step of the process.</p>
              </div>
            </div>
            {% else %}
            <div class="step-item is-complete is-success">
              <div class="step-marker">
                <span class="icon">
                  <i class="fa fa-check"></i>
                </span>
              </div>
              <div class="step-details">
                <p class="step-title">Step 1</p>
                <p>This is the first step of the process.</p>
              </div>
            </div>
            {% endif %} {% if tNo == '2' %}
            <div class="step-item is-active is-success">
              <div class="step-marker"></div>
              <div class="step-details">
                <p class="step-title">Step 2</p>
                <p>
                  This is the second step. You get here once you have completed
                  the first step.
                </p>
              </div>
            </div>
            {% elif tNo == '1' %}
            <div class="step-item">
              <div class="step-marker">2</div>
              <div class="step-details">
                <p class="step-title">Step 2</p>
                <p>
                  This is the second step. You get here once you have completed
                  the first step.
                </p>
              </div>
            </div>
            {% else %}
            <div class="step-item is-complete is-success">
              <div class="step-marker">
                <span class="icon">
                  <i class="fa fa-check"></i>
                </span>
              </div>
              <div class="step-details">
                <p class="step-title">Step 2</p>
                <p>
                  This is the second step. You get here once you have completed
                  the first step.
                </p>
              </div>
            </div>
            {% endif %} {% if tNo == '3' %}
            <div class="step-item is-active is-success">
              <div class="step-marker">3</div>
              <div class="step-details">
                <p class="step-title">Step 3</p>
                <p>This is the third step. One more step before the end.</p>
              </div>
            </div>
            {% elif tNo == '1' or tNo == '2' %}
            <div class="step-item">
              <div class="step-marker">3</div>
              <div class="step-details">
                <p class="step-title">Step 3</p>
                <p>This is the third step. One more step before the end.</p>
              </div>
            </div>
            {% else %}
            <div class="step-item is-success is-complete is-success">
              <div class="step-marker">
                <span class="icon">
                  <i class="fa fa-check"></i>
                </span>
              </div>
              <div class="step-details">
                <p class="step-title">Step 3</p>
                <p>This is the third step. One more step before the end.</p>
              </div>
            </div>
            {% endif %} {% if tNo == '4' %}
            <div class="step-item is-active is-success">
              <div class="step-marker">
                <span class="icon">
                  <i class="fa fa-flag"></i>
                </span>
              </div>
              <div class="step-details">
                <p class="step-title">Step 4</p>
                <p>
                  Final step. You have completed all the previous steps and end
                  the process.
                </p>
              </div>
            </div>
            {% else %}
            <div class="step-item">
              <div class="step-marker">
                <span class="icon">
                  <i class="fa fa-flag"></i>
                </span>
              </div>
              <div class="step-details">
                <p class="step-title">Step 4</p>
                <p>
                  Final step. You have completed all the previous steps and end
                  the process.
                </p>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>

      <section
        class="hero is-success is-fullheight-with-navbar"
        id="reactionContainer"
      >
        <div class="hero-body">
          <div class="container">
            <h2 class="subtitle">
              <div class="container">
                {% if tNo == '1' %}
                <h1>Test your reaction time!</h1>
                <p>UA: {{ ua }}</p>
                <p>
                  Click on the boxes and circles as quickly as you can. Your
                  reaction time will be posted below:
                </p>

                <p id="printReactionTime"></p>
                <p id="countTime"></p>

                <!-- <div
                  id="box"
                  style="border-radius: 0%, background-color= #aeab4e
                    "
                ></div> -->
                {% endif %}
              </div>
            </h2>
            <button type="submit" value="submit" class="btn btn-dark disabled">
              Submit
            </button>
          </div>
        </div>

        <div class="hero-foot">
          <div class="container">
            <form method="POST">
              <div class="form-row align-items-center">
                <div class="col-auto my-1">
                  <button
                    type="submit"
                    value="submit"
                    class="btn btn-dark"
                    id="nextTest"
                  >
                    Next
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>

      <!-- Scripts -->

      <!-- Fontawesome -->
      <script
        src="https://kit.fontawesome.com/b5c8bf5f8c.js"
        crossorigin="anonymous"
      ></script>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
      ></script>

      <!-- Custom scripts for this template -->
      <script src="{{ url_for('static', filename='javascript/freelancer.js')}}"></script>
      {% if tNo == '1' %}
      <script src="{{ url_for('static', filename='javascript/reaction.js') }}"></script>
      {% endif %}

      <!-- Bulma Steps -->
      <script src="{{ url_for('static', filename='javascript/bulma-steps.min.js')}}"></script>

      <!-- Plugin JavaScript -->
      <script src="{{ url_for('static', filename='vendor/jquery.easing.js')}}"></script>
    </body>
  </html>
</html>
