<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bulma CSS -->
    <link href="{{ url_for('static', filename='css/bulma-steps.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/error.css')}}">

    <!-- Custom fonts for this theme -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicon/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-180x180.png')}}">
    <link rel="apple-touch-icon" sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-16x16.png')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>{{ title }}</title>

</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">

            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>
    <div class="container-fluid">

        <div class="steps" id="stepsDemo">
            <div class="step-item is-active is-success">
                <div class="step-marker">1</div>
                <div class="step-details">
                    <p class="step-title">Account</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">2</div>
                <div class="step-details">
                    <p class="step-title">Profile</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">3</div>
                <div class="step-details">
                    <p class="step-title">Social</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">4</div>
                <div class="step-details">
                    <p class="step-title">Finish</p>
                </div>
            </div>
            <div class="steps-content">
                <div class="step-content has-text-centered is-active">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Username</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" name="username" id="username" type="text"
                                        placeholder="Username" autofocus data-validate="require">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Password</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icon has-icon-right">
                                    <input class="input" type="password" name="password" id="password"
                                        placeholder="Password" data-validate="require">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Confirm password</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icon has-icon-right">
                                    <input class="input" type="password" name="password_confirm" id="password_confirm"
                                        placeholder="Confirm password" data-validate="require">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content has-text-centered">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Firstname</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" name="firstname" id="firstname" type="text"
                                        placeholder="Firstname" autofocus data-validate="require">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Last name</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icon has-icon-right">
                                    <input class="input" type="text" name="lastname" id="lastname"
                                        placeholder="Last name" data-validate="require">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Email</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icon has-icon-right">
                                    <input class="input" type="email" name="email" id="email" placeholder="Email"
                                        data-validate="require">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content has-text-centered">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Facebook account</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" name="facebook" id="facebook" type="text"
                                        placeholder="Facebook account url" autofocus data-validate="require">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Twitter account</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" name="twitter" id="twitter" type="text"
                                        placeholder="Twitter account url" autofocus data-validate="require">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content has-text-centered">
                    <h1 class="title is-4">Your account is now created!</h1>
                </div>
            </div>
            <div class="steps-actions">
                <div class="steps-action">
                    <a href="#" data-nav="previous" class="button is-light">Previous</a>
                </div>
                <div class="steps-action">
                    <a href="#" data-nav="next" class="button is-light">Next</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/b5c8bf5f8c.js" crossorigin="anonymous"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='javascript/freelancer.js')}}"></script>

    <!-- Bulma Steps -->
    <script src="{{ url_for('static', filename='javascript/bulma-steps.min.js')}}"></script>


    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery.easing.js')}}"></script>
</body>

</html>