<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />

      <!-- Bulma CSS -->
      <link rel="stylesheet" href="../static/css/mybulma.css" />
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css"
      />

      <!-- Custom fonts for this theme -->
      <link
        href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
        rel="stylesheet"
        type="text/css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
        rel="stylesheet"
        type="text/css"
      />

      <!-- Favicons -->
      <link
        rel="apple-touch-icon"
        sizes="57x57"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-57x57.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-60x60.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicon/apple-icon-72x72.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-76x76.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-114x114.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-120x120.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-144x144.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-152x152.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-180x180.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-192x192.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-32x32.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="96x96"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-96x96.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-16x16.png')}}"
      />
      <meta name="msapplication-TileColor" content="#ffffff" />
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
      <meta name="theme-color" content="#ffffff" />

      <style>
        #sketchpad {
          border: 0px solid #eee;
          cursor: crosshair;
          background-image: url('{{url_for("static", filename= "img/spiral.png")}}');
          background-size: contain;
        }
      </style>

      <title>{{ title }}</title>
    </head>

    <body>
      <section class="hero is-success is-fullheight" id="reactionContainer">
        <div class="hero-body">
          <div class="container">
            <div class="steps" id="stepsDemo">
              <div class="step-item is-info is-active">
                <div class="step-marker">1</div>
                <div class="step-details"></div>
              </div>
              <div class="step-item is-info">
                <div class="step-marker">2</div>
                <div class="step-details"></div>
              </div>
              <div class="step-item is-info">
                <div class="step-marker">3</div>
                <div class="step-details"></div>
              </div>
              <div class="step-item is-info">
                <div class="step-marker">4</div>
                <div class="step-details"></div>
              </div>
              <div class="steps-content">
                <div class="step-content has-text-centered is-active">
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label"
                        >Are you experiencing tightness or stiffness of the
                        limbs or torso</label
                      >
                    </div>
                    <div class="select has-text-black">
                      <select id="q1">
                        <option value="0">Never</option>
                        <option value="1">Rarely</option>
                        <option value="2">Occasionally</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Frequently</option>
                        <option value="5">Always</option>
                      </select>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label"
                        >Do you have Balance/Walking Difficulties - Taking small
                        or slow steps; a shuffling gait; decrease in the natural
                        swing of the arms</label
                      >
                    </div>
                    <div class="select has-text-black">
                      <select id="q2">
                        <option value="0">Never</option>
                        <option value="1">Rarely</option>
                        <option value="2">Occasionally</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Frequently</option>
                        <option value="5">Always</option>
                      </select>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label"
                        >Have you experienced fatigue/sleep Disturbances -
                        Difficulty falling asleep or staying asleep; vivid
                        dreams; daytime sleepiness.</label
                      >
                    </div>
                    <div class="select has-text-black">
                      <select id="q3">
                        <option value="0">Never</option>
                        <option value="1">Rarely</option>
                        <option value="2">Occasionally</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Frequently</option>
                        <option value="5">Always</option>
                      </select>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label class="label"
                          >Have you ben feeling nervous or irritable; feeling
                          sad, empty and hopeless</label
                        >
                      </div>
                      <div class="select has-text-black">
                        <select id="q4">
                          <option value="0">Never</option>
                          <option value="1">Rarely</option>
                          <option value="2">Occasionally</option>
                          <option value="3">Sometimes</option>
                          <option value="4">Frequently</option>
                          <option value="5">Always</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="step-content has-text-centered is-active">
                  <div class="container">
                    <h2 class="subtitle"></h2>
                    <div class="container" id="tapTarget">
                      <div class="card">
                        <div class="card-content">
                          <h3 class="subtitle">
                            Tap on this box whenever you're ready, and then tap
                            when the background color changes. The test will be
                            repeated 3 times and there's a counter to help you
                            out!
                          </h3>

                          <p id="printReactionTime"></p>
                          <p id="countTime"></p>
                        </div>
                      </div>
                    </div>
                    <div class="container" style="padding: 30%;"></div>
                  </div>
                </div>

                <div class="step-content has-text-centered is-active">
                  <div class="container">
                    <h2 class="subtitle"></h2>
                    <div class="container">
                      <div class="text-center">
                        <h5 class="subtitle">
                          Trace the Spiral below as best as you can in a single
                          go
                        </h5>
                      </div>
                      <div
                        class="container"
                        style="padding-top: 10%; padding-bottom: 10%;"
                      >
                        <canvas id="sketchpad"></canvas>
                      </div>
                      <div class="columns is-mobile">
                        <div class="column">
                          <button class="button" id="undo">Undo</button>
                        </div>
                        <div class="column">
                          <button class="button" id="redo">Redo</button>
                        </div>
                        <div class="column">
                          <button class="button" id="clear">Clear</button>
                        </div>
                        <div class="column">
                          <button
                            type="button"
                            id="download"
                            class="button is-dark"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                      <div class="columns is-mobile">
                        <div class="column">
                          <div class="control">
                            <input
                              class="input has-text-black"
                              type="text"
                              placeholder="Enter your %"
                              id="percent"
                            />
                          </div>
                        </div>
                        <div class="column">
                          <button
                            type="button"
                            id="saver"
                            class="button is-dark"
                          >
                            submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="step-content has-text-centered">
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label"
                        >Have you had difficulty swallowing; drooling; excessive
                        saliva in the mouth</label
                      >
                    </div>
                    <div class="select has-text-black">
                      <select id="q5">
                        <option value="0">Never</option>
                        <option value="1">Rarely</option>
                        <option value="2">Occasionally</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Frequently</option>
                        <option value="5">Always</option>
                      </select>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label"
                        >Are any of the following frequent occurrences: Nausea,
                        vomiting, diarrhea, infrequent bowel movements</label
                      >
                    </div>
                    <div class="select has-text-black">
                      <select id="q6">
                        <option value="0">Never</option>
                        <option value="1">Rarely</option>
                        <option value="2">Occasionally</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Frequently</option>
                        <option value="5">Always</option>
                      </select>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label"
                        >Have you had changes or issues in sexual desire such as
                        erectile dysfunction etc.</label
                      >
                    </div>
                    <div class="select has-text-black">
                      <select id="q7">
                        <option value="0">Never</option>
                        <option value="1">Rarely</option>
                        <option value="2">Occasionally</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Frequently</option>
                        <option value="5">Always</option>
                      </select>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label"
                        >Have you been seeing, hearing or sensing things that
                        are not there</label
                      >
                    </div>
                    <div class="select has-text-black">
                      <select id="q8">
                        <option value="0">Never</option>
                        <option value="1">Rarely</option>
                        <option value="2">Occasionally</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Frequently</option>
                        <option value="5">Always</option>
                      </select>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label"
                        >Have you ever had trouble with believing things that
                        are not true</label
                      >
                    </div>
                    <div class="select has-text-black">
                      <select id="q9">
                        <option value="0">Never</option>
                        <option value="1">Rarely</option>
                        <option value="2">Occasionally</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Frequently</option>
                        <option value="5">Always</option>
                      </select>
                    </div>
                    <br /><br />
                    <a href="{{ url_for('results') }}">
                      <button type="button" id="results" class="button is-dark">
                        Results
                      </button>
                    </a>
                    <button type="button" id="finalize" class="button is-dark">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
              <div class="steps-actions">
                <div class="steps-action">
                  <a href="#" data-nav="previous" class="button is-light"
                    >Previous</a
                  >
                </div>
                <div class="steps-action">
                  <a
                    href="#"
                    id="nextButton"
                    data-nav="next"
                    class="button is-light"
                    >Next</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Scripts -->
      <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
      ></script>
      <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
      <script src="{{ url_for('static', filename='javascript/sketchpad-min.js') }}"></script>
      <script src="{{ url_for('static', filename='javascript/tremor.js') }}"></script>
      <script src="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/js/bulma-steps.min.js"></script>
      <script src="{{ url_for('static', filename='javascript/reaction.js') }}"></script>
      <script src="{{ url_for('static', filename='javascript/finalize.js') }}"></script>
      <script>
        bulmaSteps.attach();
      </script>
    </body>
  </html>
</html>
