<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tr>
        <td>API used</td>
        <td id="moApi"></td>
      </tr>
      <tr>
        <td>linear acceleration (excl. gravity)</td>
        <td id="moAccel"></td>
      </tr>
      <tr>
        <td>acceleration incl. gravity</td>
        <td id="moAccelGrav"></td>
      </tr>
      <tr>
        <td>rotation rate</td>
        <td id="moRotation"></td>
      </tr>
      <tr>
        <td>interval (ms)</td>
        <td id="moInterval"></td>
      </tr>
    </table>

    <p>
      <small
        >Demo based on
        <a
          href="https://www.html5rocks.com/en/tutorials/device/orientation/"
          target="_blank"
          rel="noopener"
          >HTML5 Rocks</a
        >
        article.</small
      >
    </p>
    <script src="../static/javascript/test.js"></script>
  </body>
</html>
