<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
    <head class="has-navbar-fixed-top">
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />

      <!-- Bulma CSS -->
      <link rel="stylesheet" href="../static/css/mybulma.css" />
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css"
      />

      <!-- Custom fonts for this theme -->
      <link
        href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
        rel="stylesheet"
        type="text/css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
        rel="stylesheet"
        type="text/css"
      />

      <!-- Favicons -->
      <link
        rel="apple-touch-icon"
        sizes="57x57"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-57x57.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-60x60.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicon/apple-icon-72x72.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-76x76.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-114x114.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-120x120.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-144x144.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-152x152.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-180x180.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-192x192.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-32x32.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="96x96"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-96x96.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-16x16.png')}}"
      />
      <meta name="msapplication-TileColor" content="#ffffff" />
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
      <meta name="theme-color" content="#ffffff" />

      <title>{{ title }}</title>
    </head>

    <body>
      <section class="hero is-success is-fullheight" id="reactionContainer">
        <div class="hero-body">
          <div class="container">
            <div class="steps">
              <div class="step-item">
                <div class="step-marker">1</div>
                <div class="step-details">
                  <p class="step-title">Reaction</p>
                </div>
              </div>
              <div class="step-item is-active">
                <div class="step-marker">2</div>
                <div class="step-details">
                  <p class="step-title">Spiral</p>
                </div>
              </div>
              <div class="step-item">
                <div class="step-marker">3</div>
                <div class="step-details">
                  <p class="step-title">Tremor</p>
                </div>
              </div>
              <div class="step-item">
                <div class="step-marker">4</div>
                <div class="step-details">
                  <p class="step-title">Finish</p>
                </div>
              </div>
              <div class="steps-content" style="padding-top:30%;">
                <div class="step-content has-text-centered is-active">
                  <div class="container">
                    <h2 class="subtitle"></h2>
                    <div class="container" id="tapTarget">
                      <div class="card">
                        <div class="card-content">
                          <h3 class="subtitle">
                            Tap on this box whenever you're ready, and then tap
                            when the background color changes
                          </h3>

                          <p>UA: {{ ua }}</p>
                          <p>Age: {{ age }}</p>
                          <p>Vals: {{ val }}</p>

                          <p id="xval"></p>
                          <p id="yval"></p>
                          <p id="zval"></p>

                          <p id="printReactionTime"></p>
                          <p id="countTime"></p>
                        </div>
                      </div>
                    </div>
                    <div class="container" style="padding: 30%;">
                      <form>
                        <button
                          type="button"
                          value="submit"
                          id="submitButton"
                          class="button is-dark"
                        >
                          Submit
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Scripts -->

      <!-- Fontawesome -->
      <script
        src="https://kit.fontawesome.com/b5c8bf5f8c.js"
        crossorigin="anonymous"
      ></script>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
      ></script>

      <script src="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/js/bulma-steps.js"></script>

      <!-- Custom scripts for this template -->
      <script src="{{ url_for('static', filename='javascript/tremor.js') }}"></script>
      <script>
        bulmaSteps.attach();
      </script>
    </body>
  </html>
</html>
