<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />

      <!-- Bulma CSS -->
      <link rel="stylesheet" href="../static/css/mybulma.css" />
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css"
      />

      <!-- Custom fonts for this theme -->
      <link
        href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
        rel="stylesheet"
        type="text/css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
        rel="stylesheet"
        type="text/css"
      />

      <!-- Favicons -->
      <link
        rel="apple-touch-icon"
        sizes="57x57"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-57x57.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-60x60.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicon/apple-icon-72x72.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-76x76.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-114x114.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-120x120.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-144x144.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-152x152.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-180x180.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-192x192.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-32x32.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="96x96"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-96x96.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-16x16.png')}}"
      />
      <meta name="msapplication-TileColor" content="#ffffff" />
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
      <meta name="theme-color" content="#ffffff" />

      <style>
        #sketchpad {
          border: 0px solid #eee;
          cursor: crosshair;
          background-image: url('{{url_for("static", filename= "img/spiral.png")}}');
          background-size: contain;
        }
      </style>

      <title>{{ title }}</title>
    </head>

    <body>
      <section class="hero is-success" id="reactionContainer">
        <div class="hero-body">
          <div class="container">
            <div class="steps">
              <div class="step-item">
                <div class="step-marker">1</div>
                <div class="step-details">
                  <p class="step-title">Reaction</p>
                </div>
              </div>
              <div class="step-item is-active">
                <div class="step-marker">2</div>
                <div class="step-details">
                  <p class="step-title">Spiral</p>
                </div>
              </div>
              <div class="step-item">
                <div class="step-marker">3</div>
                <div class="step-details">
                  <p class="step-title">Finish</p>
                </div>
              </div>
              <div class="steps-content">
                <div class="step-content has-text-centered is-active">
                  <div class="container">
                    <h2 class="subtitle"></h2>
                    <div class="container">
                      <div class="text-center">
                        <h2 class="title">Tremor Test</h2>
                        <h5 class="subtitle">
                          Trace the Spiral below as best as you can in a single
                          go
                        </h5>
                      </div>
                      <div
                        class="container"
                        style="padding-top:10% ;padding-bottom: 10%;"
                      >
                        <canvas id="sketchpad"></canvas>
                      </div>
                      <div class="columns is-mobile">
                        <div class="column">
                          <button class="button" id="undo">Undo</button>
                        </div>
                        <div class="column">
                          <button class="button" id="redo">Redo</button>
                        </div>
                        <div class="column">
                          <button class="button" id="clear">Clear</button>
                        </div>
                      </div>
                      <div class="columns is-mobile">
                        <div class="column">
                          <button
                            type="button"
                            id="download"
                            class="button is-dark"
                          >
                            Download
                          </button>
                        </div>

                        <div class="column">
                          <form>
                            <a href="{{ url_for('tremor') }}">
                              <button
                                type="button"
                                value="submit"
                                id="submitButton"
                                class="button is-dark"
                              >
                                Submit
                              </button>
                            </a>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="container"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Scripts -->

      <!-- Custom scripts for this template -->
      <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
      ></script>
      <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
      <script src="{{ url_for('static', filename='javascript/sketchpad-min.js') }}"></script>
      <script src="{{ url_for('static', filename='javascript/tremor.js') }}"></script>
    </body>
  </html>
</html>
