<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
    <head class="has-navbar-fixed-top">
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />

      <!-- Bulma CSS -->
      <link rel="stylesheet" href="../static/css/mybulma.css" />
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css"
      />

      <!-- Custom fonts for this theme -->
      <link
        href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
        rel="stylesheet"
        type="text/css"
      />
      <link
        href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
        rel="stylesheet"
        type="text/css"
      />

      <!-- Favicons -->
      <link
        rel="apple-touch-icon"
        sizes="57x57"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-57x57.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-60x60.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicon/apple-icon-72x72.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-76x76.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-114x114.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-120x120.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-144x144.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-152x152.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-180x180.png')}}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="{{ url_for('static', filename = 'logos/favicons/apple-icon-192x192.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-32x32.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="96x96"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-96x96.png')}}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="{{ url_for('static', filename = 'logos/favicons/favicon-16x16.png')}}"
      />
      <meta name="msapplication-TileColor" content="#ffffff" />
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
      <meta name="theme-color" content="#ffffff" />

      <link
        href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
        rel="stylesheet"
        type="text/css"
      />

      
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/combine/npm/normalize.css@8.0.1,npm/skeleton-css@2.0.4/css/skeleton.min.css"
    />

      <style>
        #sketchpad {
          border: 1px solid #eee;
          cursor: crosshair;
          background-color: white;
        }

        section {
          padding: 2rem 0;
        }

        .text-center {
          text-align: center;
        }

        @media (min-width: 550px) {
          section:first-child {
            margin-top: 8rem;
          }
        }
      </style>

      <title>{{ title }}</title>
    </head>

    <body>
      <section class="hero is-success is-fullheight" id="reactionContainer">
        <div class="hero-body">
          <div class="container">
            <div class="steps">
              <div class="step-item">
                <div class="step-marker">1</div>
                <div class="step-details">
                  <p class="step-title">Reaction</p>
                </div>
              </div>
              <div class="step-item is-active">
                <div class="step-marker">2</div>
                <div class="step-details">
                  <p class="step-title">Spiral</p>
                </div>
              </div>
              <div class="step-item">
                <div class="step-marker">3</div>
                <div class="step-details">
                  <p class="step-title">Tremor</p>
                </div>
              </div>
              <div class="step-item">
                <div class="step-marker">4</div>
                <div class="step-details">
                  <p class="step-title">Finish</p>
                </div>
              </div>
              <div class="steps-content" style="padding-top:30%;">
                <div class="step-content has-text-centered is-active">
                  <div class="container">
                    <section class="text-center">
                      <h2>Tremor Test</h2>
                      <h5>
                        A completely responsive, HTML5 canvas sketchpad for use on desktop and
                        mobile browsers
                      </h5>
                    </section>
                    <section>
                      <div class="row">
                        <div class="two-thirds column">
                          <div id="sketchpad"></div>
                          <em>Try resizing the window!</em>
                        </div>
                        <div class="one-third column">
                          <label for="line-color-input">Set Line Color</label>
                          <input
                            class="u-full-width"
                            type="text"
                            value="#000000"
                            id="line-color-input"
                          />
                          <label for="line-size-input">Set Line Size</label>
                          <input
                            class="u-full-width"
                            type="number"
                            value="5"
                            id="line-size-input"
                          />
                          <div class="row">
                            <div class="one-half column">
                              <button class="u-full-width" id="undo">Undo</button>
                            </div>
                            <div class="one-half column">
                              <button class="u-full-width" id="redo">Redo</button>
                            </div>
                            <button class="u-full-width" id="clear">Clear</button>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section>
                      <h3>Basic Usage</h3>
                    </section>
                  </div>
                </div>
              </div>
              <div class="steps-content" style="padding-top:30%;">
                <div class="step-content has-text-centered is-active">
                  <div class="container">
                    <h2 class="subtitle"></h2>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Scripts -->

      <!-- Custom scripts for this template -->
      <script src="https://cdn.jsdelivr.net/npm/responsive-sketchpad@0.2.1/responsive-sketchpad.min.js"></script>

      <script src="{{ url_for('static', filename='javascript/tremor.js') }}"></script>
    </body>
  </html>
</html>
